@charset "UTF-8";
/* RESTETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 1 rem == 10 px */
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

/* Resets para Bootstrap y demas librerias */
ol,
ul {
  padding-left: 0;
}

dl,
ol,
ul {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_contact {
  background-color: #FFFFFF;
  height: 7vh;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_contact div ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header_contact div ul li a {
  text-decoration: none;
}

.header_list-contacto a,
.header_list-contacto i {
  color: #969696;
}

.list-contacto-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-contacto-item a {
  margin-left: .7rem;
  font-size: 1.2rem;
}

.header_list-redes li a i {
  color: #F78121;
}

/* /////////////// */
.header_principal {
  background-image: url(../assets/header/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 93vh;
  width: 100%;
}

.header_principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header_principal nav {
  width: 85%;
  height: 7rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar_pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .7rem;
}

.navbar_logo a h2 {
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.navbar_pages ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar_pages ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar_pages-cotizar {
  padding: 1rem;
  gap: 1rem;
  width: 12.6rem;
  height: 3.9rem;
  background: #F78121;
  border-radius: .5rem;
  text-align: center;
}

.navbar_pages-cotizar a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.header_principal-titulo {
  position: absolute;
  top: 22.2rem;
  color: #FFFFFF;
  text-align: center;
}

.header-titulo h1 {
  font-size: 9rem;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-descripcion p {
  width: 60rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 700;
  color: #FAFAFA;
  line-height: 160%;
  margin: 1.7rem 1.8rem;
  opacity: 0.8;
}

.header-boton a {
  text-decoration: none;
  background-color: #F78121;
  color: #FFFFFF;
  border-radius: .7rem;
  padding: 10px 20px;
  width: 16.4rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 2rem;
}

#quienes_somos {
  display: flex;
  justify-content: center;
}

.quienes_somos-contain {
  width: 85%;
  margin: 4.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quienes_somos-descripcion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quienes_somos-descripcion h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #F78121;
}

.quienes_somos-descripcion p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1B1B;
  width: 80%;
}

.quienes_somos-boton a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1rem 4.3rem;
  background: #F78121;
  border-radius: .7rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

#nuestros_servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuestros_servicios-contain {
  width: 85%;
  margin: 6.6rem 0;
}

.nuestros_servicios-titulo {
  margin-bottom: 4.4rem;
}

.nuestros_servicios-titulo div h2 {
  color: #F78121;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

.nuestros_servicios-titulo div p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1B1B;
  margin-top: .7rem;
}

.nuestros_servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.nuestros_servicios-card {
  text-align: center;
}

.nuestros_servicios-card-descripcion {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: space-around;
}

.nuestros_servicios-card-descripcion div h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
}

.nuestros_servicios-card-descripcion div p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0 1.2rem;
}

.card-descripcion-boton {
  display: flex;
  justify-content: center;
}

.card-descripcion-boton a {
  text-decoration: none;
  color: black;
  padding: 1.2rem 1.6rem;
  background: #FAF8F7;
  border: 0.3rem solid #F78121;
  border-radius: .4rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.card-descripcion-boton a {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: .8rem;
}

.nuestros_servicios-card-popular {
  padding: .5rem 1.6rem;
  background: #F78121;
  border-radius: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.8rem;
  text-align: center;
}

.nuestros_servicios-card-popular {
  position: relative;
  bottom: 28rem;
  right: 12rem;
}

#estadisticas {
  background-image: url(../assets/estadisticas/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#estadisticas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.estadisticas-contain {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23rem;
  margin: 0 23rem;
}

.estadisticas-contain span {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: white;
}

.estadisticas-contain p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
}

.estadisticas-contain-card {
  margin: 4.7rem 0;
  text-align: center;
}

.contactanos {
  background-image: url(../assets/contactanos/sillones.png);
  height: 35.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contactanos_card {
  width: 35.7rem;
  height: 30rem;
  border-radius: 6px;
}

.contactanos_titulo {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 2.5rem;
  color: #F78121;
}

.contactanos_parrafo {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin-top: 3.1rem;
  color: #1B1B1B;
}

.contactanos_boton {
  width: 16.4rem;
  font-size: 2rem;
  margin-top: 3.1rem;
  margin-bottom: 2.5rem;
  color: #FFFFFF;
  background-color: #F78121;
  outline: none;
  border-radius: 6px;
  padding: 10px 20.5px 10px 20.5px;
}

/* Footer */
.footer {
  background-color: #1B1B1B;
  padding: 10px;
  right: 10rem;
}

.footer_contenedor {
  position: relative;
  left: 4vw;
}

.footer_contenedor div div {
  margin-top: 6rem;
}

.footer_contenedor div h5 {
  color: #F78121;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.footer_contenedor div ul li {
  padding-bottom: 20px;
}

.footer_contenedor div ul li a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  padding: 0;
}

.fuente_color1 {
  color: #FFFFFF;
}

.fuente_color2 {
  color: #F78121;
}

/* Servicios */
.header_principal_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.header_servicios_titulo {
  position: absolute;
  top: 22.2rem;
  left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.header_titulo_servicios {
  width: 71rem;
}

.header_titulo_servicios h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 9rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_descripcion_servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 64.3rem;
  height: 17.3rem;
  background: #F78121;
}

.header_descripcion_servicios h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.1rem;
  opacity: 0.8;
  color: #FFFFFF;
}

.servicios_galeria_titulo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  text-align: center;
  color: #F78121;
  margin-top: 5rem;
}

/* Marmol */
.header_principal_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.contactanos_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/CTA.webp");
}

/* Enchapes en piedra*/
.header_principal_enchape {
  background-image: url("../assets/Servicios -final/Enchapes de Piedras/Hero Photo.webp");
}

.contactanos_enchape {
  background-image: url("../assets/Servicios -final/Enchapes de Piedras/CTA.webp");
}

/* Carpinteria */
.header_principal_carpinteria {
  background-image: url("../assets/Servicios -final/Carpintería/Hero Photo.webp");
}

.contactanos_carpinteria {
  background-image: url("../assets/Servicios -final/Carpintería/CTA.webp");
}

/* Obras civiles */
.header_principal_obras {
  background-image: url("../assets/Servicios -final/Obras Civiles/Hero Photo.webp");
}

.contactanos_obras {
  background-image: url("../assets/Servicios -final/Obras Civiles/CTA.webp");
}

/* Hornos y parrillas */
.header_principal_hornos {
  background-image: url("../assets/Servicios -final/Hornos y Parrillas/Hero Photo.webp");
}

.contactanos_hornos {
  background-image: url("../assets/Servicios -final/Hornos y Parrillas/CTA.webp");
}

/* Mantenimiento de pisos */
.header_principal_pisos {
  background-image: url("../assets/Servicios -final/Pisos/Hero Photo.webp");
}

.contactanos_pisos {
  background-image: url("../assets/Servicios -final/Pisos/CTA.webp");
}
