@charset "UTF-8";
/* RESTETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 1 rem == 10 px */
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

/* Resets para Bootstrap y demas librerias */
ol,
ul {
  padding-left: 0;
}

dl,
ol,
ul {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background: #F9F9F9;
}

#header {
  background-color: #FFFFFF;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_contact {
  background-color: #FFFFFF;
  height: 7vh;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_contact div ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header_contact div ul li a {
  text-decoration: none;
}

.header_list-contacto a,
.header_list-contacto i {
  color: #969696;
}

.list-contacto-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-contacto-item a {
  margin-left: .7rem;
  font-size: 1.2rem;
}

.header_list-redes li a i {
  color: #F78121;
}

/* /////////////// */
.header_principal {
  background-image: url("../assets/Home -final/Header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 130vh;
  width: 100%;
}

.header_principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header_principal nav {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(125% 125% at 50% -25%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
}

.navbar_on-scroll {
  top: 0;
  background: #FFFFFF !important;
  z-index: 999;
}

.navbar_on-scroll h2,
.navbar_on-scroll a,
.navbar_on-scroll span {
  color: #1B1B1B !important;
}

.navbar_on-scroll .navbar_select-btn img {
  filter: brightness(0) saturate(100%);
}

.navbar_on-scroll .navbar_select-contenido {
  background: #FFFFFF !important;
  box-shadow: 0px 0px 30px rgba(33, 33, 52, 0.1);
  border: 0.5px solid #EAEAEF;
}

.navbar_on-scroll .navbar_select-contenido .navbar_select-opciones a {
  color: black;
}

.navbar_on-scroll .navbar_select-contenido .navbar_select-opciones a:hover {
  color: #F9F9F9 !important;
}

.navbar_pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .7rem;
}

.navbar_logo a h2 {
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.navbar_pages ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar_pages ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  transition: .3s;
}

.navbar_pages ul li a:hover {
  color: #F78121;
}

.navbar_select {
  position: relative;
  width: 8rem;
}

.navbar_select .navbar_select-btn {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar_select .navbar_select-btn :hover {
  color: #F78121;
}

.navbar_select .navbar_select-btn span {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  transition: .3s;
}

.navbar_select .navbar_select-btn img {
  margin-left: 5px;
  transition: transform 0.3s linear;
}

.navbar_select .navbar_select-contenido {
  position: absolute;
  display: none;
  width: 217px;
  right: -0.4rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  z-index: 996;
}

.navbar_select .navbar_select-contenido .navbar_select-opciones {
  display: block;
}

.navbar_select .navbar_select-contenido .navbar_select-opciones a {
  height: 3.6rem;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 13px;
  color: #fff;
  display: flex;
  align-items: center;
}

.navbar_select .navbar_select-contenido .navbar_select-opciones a:hover {
  background: #F78121;
}

.navbar_select.active .navbar_select-contenido {
  display: block;
}

.navbar_select.active .navbar_select-btn img {
  transform: rotate(-180deg);
}

.navbar_pages-contactanos {
  padding: 1rem;
  gap: 1rem;
  width: 12.6rem;
  height: 3.9rem;
  background: #F78121;
  border-radius: .5rem;
  text-align: center;
  transition: .3s;
}

.navbar_pages-contactanos a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.navbar_pages-contactanos:hover {
  color: #FFFFFF;
  background-color: #C25A05;
}

.tooltip-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.tooltip-container2 {
  position: absolute;
  bottom: -20%;
  right: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.tooltip-one {
  padding: 12px;
  background: #1B1B1B;
  position: absolute;
  width: 192px;
  border-radius: 4px;
  text-align: center;
  display: none;
  bottom: 48px;
  right: 20%;
  margin-right: -153px;
}

.tooltip-one span {
  color: #fff;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.tooltip-one:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 15%;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  background: #1B1B1B;
  transform: rotate(45deg);
}

.tooltip-trigger:hover + .tooltip-one {
  display: block;
}

.header_principal-titulo {
  position: absolute;
  top: 50%;
  color: #FFFFFF;
  text-align: center;
}

.header-titulo h1 {
  font-size: 9rem;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-descripcion p {
  width: 60rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 700;
  color: #FAFAFA;
  line-height: 160%;
  margin: 1.7rem 0;
  opacity: 0.8;
}

.header-boton a {
  text-decoration: none;
  background-color: #F78121;
  color: #FFFFFF;
  border-radius: .7rem;
  padding: 10px 20px;
  width: 16.4rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 2rem;
  transition: .3s;
}

.header-boton a:hover {
  background: #C25A05;
}

#empresas_trabajo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empresas_trabajo-contenedor {
  width: 85%;
  text-align: center;
}

.empresa_trabajo-titulo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2remx;
  line-height: 2.4rem;
  color: #383838;
  margin: 5rem 0 2rem 0;
}

.empresas_trabajo-img img {
  width: 24.6rem;
  height: 6.2rem;
}

#quienes_somos {
  display: flex;
  justify-content: center;
}

.quienes_somos-contain {
  width: 85%;
  margin: 4.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quienes_somos-descripcion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quienes_somos-descripcion h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #F78121;
}

.quienes_somos-descripcion p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1B1B;
  width: 80%;
}

.quienes_somos-boton a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 1rem 4.3rem;
  background: #F78121;
  border-radius: .7rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

#elegirnos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 6.6rem;
}

.contenedor-elegirnos {
  width: 85%;
  text-align: center;
}

.elegirnos-titulo {
  margin-bottom: 2rem;
}

.elegirnos-titulo h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: #F78121;
}

.elegirnos-cards {
  gap: 2rem;
  justify-content: space-around;
}

.elegirnos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0;
  gap: .5rem;
  background-color: #FFFFFF;
  width: 39.8rem;
  height: 30.1rem;
}

.elegirnos-card div {
  height: 28%;
}

.elegirnos-card div img {
  /* margin-bottom: 3.5rem; */
}

.elegirnos-card div h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #F78121;
  /* margin-bottom: 3.5rem; */
}

.elegirnos-card div p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: -2rem;
  /* Black */
  color: #1B1B1B;
}

#estadisticas {
  background-image: url("../assets/Home -final/Numeros.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 65%;
}

#estadisticas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.estadisticas-contain {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23rem;
  margin: 0 23rem;
}

.estadisticas-contain span {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: white;
}

.estadisticas-contain p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
}

.estadisticas-contain-card {
  margin: 4.7rem 0;
  text-align: center;
}

#nuestros_servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuestros_servicios-contain {
  width: 85%;
  margin: 6.6rem 0;
}

.nuestros_servicios-titulo {
  margin-bottom: 2rem;
  text-align: center;
}

.nuestros_servicios-titulo div h2 {
  color: #F78121;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

.nuestros_servicios-titulo div p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1B1B;
  margin-top: .7rem;
}

.nuestros_servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.nuestros_servicios-card {
  text-align: center;
  width: 40rem;
  height: 57.9rem;
  background: #FFFFFF;
}

.nuestros_servicios-card:hover {
  box-shadow: 0px 4px 50px rgba(30, 30, 30, 0.25);
}

.nuestros_servicios-img {
  height: 301px;
  width: 399px;
}

.nuestros_servicios-card-descripcion {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: space-around;
}

.nuestros_servicios-card-descripcion div h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}

.nuestros_servicios-card-descripcion div p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0 1.2rem;
}

.card-descripcion-boton-flecha {
  font-size: 2.5rem;
  color: #F78121;
}

.card-descripcion-boton {
  display: flex;
  justify-content: center;
}

.card-descripcion-boton a {
  text-decoration: none;
  color: black;
  padding: 1.2rem 1.6rem;
  background: #FFFFFF;
  border: 0.2rem solid #F78121;
  border-radius: .4rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  transition: .2s;
}

.card-descripcion-boton a:hover {
  color: #FFFFFF;
  background-color: #F78121;
}

.card-descripcion-boton a:hover iconify-icon {
  color: #FFFFFF;
}

.card-descripcion-boton a {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: .8rem;
}

.nuestros_servicios-card-popular {
  padding: .5rem 1.6rem;
  background: #F78121;
  border-radius: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.8rem;
  text-align: center;
}

.nuestros_servicios-card-popular {
  position: absolute;
  margin-top: 20px;
  margin-left: -378px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactanos {
  background-image: url("../assets/Home -final/CTA.webp");
  height: 35.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 65%;
}

.contactanos_card {
  width: 35.7rem;
  height: 30rem;
  border-radius: 6px;
}

.contactanos_titulo {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 2.5rem;
  color: #F78121;
}

.contactanos_parrafo {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin-top: 3.1rem;
  color: #1B1B1B;
}

.contactanos_boton {
  width: 16.4rem;
  font-size: 2rem;
  margin-top: 3.1rem;
  margin-bottom: 2.5rem;
  color: #FFFFFF;
  background-color: #F78121;
  outline: none;
  border-radius: 6px;
  padding: 10px 20.5px 10px 20.5px;
  transition: .3s;
}

.contactanos_boton:hover {
  background: #C25A05;
  color: #FFFFFF;
}

/* Footer */
.footer {
  width: 100%;
  height: 39.8rem;
  background-color: #1B1B1B;
  padding: 10px;
  right: 10rem;
}

.footer_contenedor {
  position: relative;
  left: 4vw;
}

.footer_contenedor div div {
  margin-top: 6rem;
}

.footer_contenedor div h5 {
  color: #F78121;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.footer_contenedor div ul li {
  padding-bottom: 20px;
}

.footer_contenedor div ul li a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  padding: 0;
}

.fuente_color1 {
  color: #FFFFFF;
}

.fuente_color2 {
  color: #F78121;
}

.nav-link {
  transition: .3s;
}

.nav-link:hover {
  color: #F78121;
}

/* Media queries */
@media (max-width: 992px) {
  .footer_separacion {
    display: none;
  }
  .footer {
    height: fit-content;
  }
  .footer_margin {
    margin-top: 5rem;
  }
}

/* Servicios */
.header_principal_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.header_servicios_titulo {
  position: absolute;
  top: 22.2rem;
  left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.header_titulo_servicios {
  width: 71rem;
}

.header_titulo_servicios h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 9rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_descripcion_servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 64.3rem;
  height: 17.3rem;
  background: #F78121;
}

.header_descripcion_servicios h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.1rem;
  opacity: 0.8;
  color: #FFFFFF;
}

.servicios_galeria_titulo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  text-align: center;
  color: #F78121;
  margin-top: 5rem;
}

/* Marmol */
.header_principal_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.contactanos_marmol {
  background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/CTA.webp");
}

/* Enchapes en piedra*/
.header_principal_enchape {
  background-image: url("../assets/Servicios -final/Enchapes de Piedras/Hero Photo.webp");
}

.contactanos_enchape {
  background-image: url("../assets/Servicios -final/Enchapes de Piedras/CTA.webp");
}

/* Carpinteria */
.header_principal_carpinteria {
  background-image: url("../assets/Servicios -final/Carpintería/Hero Photo.webp");
}

.contactanos_carpinteria {
  background-image: url("../assets/Servicios -final/Carpintería/CTA.webp");
}

/* Obras civiles */
.header_principal_obras {
  background-image: url("../assets/Servicios -final/Obras Civiles/Hero Photo.webp");
}

.contactanos_obras {
  background-image: url("../assets/Servicios -final/Obras Civiles/CTA.webp");
}

/* Hornos y parrillas */
.header_principal_hornos {
  background-image: url("../assets/Servicios -final/Hornos y Parrillas/Hero Photo.webp");
}

.contactanos_hornos {
  background-image: url("../assets/Servicios -final/Hornos y Parrillas/CTA.webp");
}

/* Mantenimiento de pisos */
.header_principal_pisos {
  background-image: url("../assets/Servicios -final/Pisos/Hero Photo.webp");
}

.contactanos_pisos {
  background-image: url("../assets/Servicios -final/Pisos/CTA.webp");
}

/* Seccion Contactos y Nosotros*/
.contacto_bg {
  background-image: url("../assets/Contacto -final/HeroPhoto_Contacto.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 173.52vh;
  width: 100%;
}

.contacto_bg nav {
  position: fixed;
  width: 100%;
  height: 7rem;
  background: radial-gradient(125% 125% at 50% -25%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 999;
}

.header_contacto-titulo {
  position: absolute;
  top: 22.2rem;
  color: #FFFFFF;
  text-align: left;
  margin-left: 7.9rem;
}

.header_contacto-descripcion p {
  width: 60rem;
  font-family: 'Inter';
  font-style: normal;
  font-size: 2.6rem;
  font-weight: 600;
  text-align: left;
  color: #fff;
  line-height: 3.14rem;
  margin: 1.7rem;
  opacity: 0.8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  background-color: #FFFFFF;
  background-color: #F9F9F9;
  margin-top: 7.4rem;
}

form .form_container {
  width: 78.2rem;
  height: 52.5rem;
  font-size: 20px;
}

form .form_container div div input {
  font-size: 1.4rem;
  width: 33.5rem;
  height: 4rem;
  border: 1px solid #DCDCE4;
  border-radius: 4px;
}

form .form_container div textarea {
  width: 70.5rem;
  height: 13.6rem;
  font-size: 1.4rem;
  border: 1px solid #DCDCE4;
  border-radius: 4px;
}

form .form_container #enviar {
  width: 16.4rem;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  border-radius: 7px;
  color: #FFFFFF;
  background-color: #1B1B1B;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1B1B1B;
  display: block;
}

.nombre_container {
  margin: 5.7rem 3.1rem 0 6.4rem;
  text-align: left;
}

.telefono_container {
  margin-top: 5.7rem;
  text-align: left;
}

.email_container {
  margin: 3rem 3.1rem 0 6.4rem;
  text-align: left;
}

.textarea_container {
  margin-top: 3rem;
  margin-left: 6.4rem;
  text-align: left;
}

.enviar_container {
  margin-top: 3rem;
  margin-left: 6.4rem;
  text-align: left;
}

/* Input Select */
.interes_container {
  position: absolute;
  margin-left: 43.2rem;
  margin-top: 3rem;
  width: 33.5rem;
  text-align: left;
}

.interes_container .select_btn {
  height: 4rem;
  font-size: 2.2rem;
  display: flex;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #DCDCE4;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.interes_container .select_btn span {
  color: #969696;
  font-size: 1.4rem;
}

.interes_container .select_btn img {
  transition: transform 0.3s linear;
}

.interes_container .select_contenido {
  display: none;
  background: #fff;
  margin-top: 0.6rem;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0.5px solid #EAEAEF;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
}

.interes_container .select_contenido .select_opciones {
  margin-top: 1rem;
}

.interes_container .select_contenido .select_opciones li {
  height: 3.6rem;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 0 13px;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.interes_container .select_contenido .select_opciones li:hover {
  background: #F78121;
  color: #F9F9F9;
}

.interes_container.active .select_contenido {
  display: block;
}

.interes_container.active .select_btn img {
  transform: rotate(-180deg);
}

.resultado_correcto {
  text-align: left;
  margin-top: 1.3rem;
}

.resultado_correcto p {
  color: #169000;
  font-size: 1.5rem;
  font-weight: 500;
}

.resultado_error {
  margin-top: 1.3rem;
}

.resultado_error p {
  color: #CC0000;
  font-size: 1.5rem;
  font-weight: 500;
}

.esconder_input {
  display: none;
}

.inputs_error {
  position: absolute;
  margin-top: 0.3rem;
}

.inputs_error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #CC0000;
}

#textarea_error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #CC0000;
}

/* Informacion Contacto */
.info_contacto {
  width: 44.3rem;
  height: 52.5rem;
  margin-top: 7.4rem;
  background-color: #F78121;
}

.info_contacto h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.64rem;
  color: #F9F9F9;
  margin: 144.42px 73px 0 76px;
}

.info_contacto div div {
  margin-top: 30px;
  margin-left: 76px;
}

.info_contacto img {
  margin-right: 16.62px;
  width: 15.38px;
  height: 21.03px;
}

.info_contacto p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.11rem;
  text-align: left;
  width: 30rem;
}

/* Header Nosotros */
.header_nosotros {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/Nosotros -final/Header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 46.24vh;
  width: 100%;
}

.header_nosotros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header_nosotros nav {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

.header_nosotros-titulo {
  position: absolute;
  top: 20%;
  color: #FFFFFF;
  text-align: center;
}

/* Main Nosotros */
.nosotros_main {
  display: flex;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.contenedor_parrafo {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  width: 570.32px;
  height: 217px;
  padding: 10px;
  z-index: 998;
}

.contenedor_parrafo p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 26.4px;
  width: 494px;
  padding: 20px;
  margin-bottom: 30.5px;
}

.nosotros_bg {
  z-index: 997;
  position: relative;
  margin-left: 400px;
}

.nosotros_section {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/Nosotros -final/CTA.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 65.76vh;
  width: 100%;
}

.nosotros_card {
  align-items: center;
  width: 398px;
  gap: 25px;
  margin-top: 40px;
  margin-left: 20px;
}

.nosotros_card div {
  height: 123px;
}

.nosotros_card div h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 24.2px;
  text-align: center;
  color: #F78121;
}

.nosotros_card div p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  padding: 10px;
}
