/* RESTETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 1 rem == 10 px */
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}


/* Resets para Bootstrap y demas librerias */
ol,
ul {
    padding-left: 0;
}

dl,
ol,
ul {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

@import "colors";
@import "header/header-contact";
@import "quienes_somos/quienes_somos";
@import "nuestros_servicios/nuestros_servicios";
@import "estadisticas/estadisticas";
@import "contactanos/contactanos-contact.scss";
@import "footer/footer-contact.scss";
@import "seccion_contactos/seccion_contactos";