header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_contact {
    background-color: $color-cuatro;
    height: 7vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        li a {
            text-decoration: none;
        }
    }
}

.header_list-contacto {

    a,
    i {
        color: $color-tres;
    }
}

.list-contacto-item {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-left: .7rem;
        font-size: 1.2rem;
    }
}

.header_list-redes li a i {
    color: $color-uno;
}

/* /////////////// */
.header_principal {
    background-image: url("../assets/Home -final/Header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 93vh;
    width: 100%;
}

.header_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    nav {
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        background: radial-gradient(125% 125% at 50% -25%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        position: fixed;
    }
}

.navbar_on-scroll {
    top: 0;
    background: #FFFFFF !important;
    z-index: 999;

    h2,
    a,
    span {
        color: #1B1B1B !important;
    }

    .navbar_select-btn img {
        filter: brightness(0) saturate(100%);
    }

    .navbar_select-contenido {
        background: #FFFFFF !important;
        box-shadow: 0px 0px 30px rgba(33, 33, 52, 0.1);
        border: 0.5px solid #EAEAEF;

        .navbar_select-opciones {
            a {
                color: black;
            }

            a:hover {
                color: #F9F9F9 !important;
            }
        }
    }
}

.navbar_pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .7rem;

    h2 {
        margin-bottom: 0;
        color: $color-cuatro;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

.navbar_pages {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        li a {
            text-decoration: none;
            color: $color-cuatro;
            font-size: 1.6rem;
            font-weight: 400;
            transition: .3s;

            &:hover {
                color: $color-uno;
            }
        }
    }
}

.navbar_select {
    position: relative;
    width: 8rem;

    .navbar_select-btn {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        :hover {
            color: $color-uno;
        }

        span {
            color: $color-cuatro;
            font-size: 1.6rem;
            font-weight: 400;
            transition: .3s;
        }

        img {
            margin-left: 5px;
            transition: transform 0.3s linear;
        }
    }

    .navbar_select-contenido {
        position: absolute;
        display: none;
        width: 217px;
        right: -0.4rem;
        background: rgba(0, 0, 0, 0.3);
        padding: 4px;
        border-radius: 4px;
        box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
        z-index: 996;

        .navbar_select-opciones {
            display: block;

            a {
                height: 3.6rem;
                border-radius: 5px;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 0 13px;
                color: #fff;
                display: flex;
                align-items: center;
            }

            a:hover {
                background: $color-uno;
            }
        }
    }
}

.navbar_select.active .navbar_select-contenido {
    display: block;
}

.navbar_select.active .navbar_select-btn img {
    transform: rotate(-180deg);
}


.navbar_pages-contactanos {
    padding: 1rem;
    gap: 1rem;
    width: 12.6rem;
    height: 3.9rem;
    background: $color-uno;
    border-radius: .5rem;
    text-align: center;
    transition: .3s;

    a {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    &:hover {
        color: $color-cuatro;
        background-color: #C25A05;
    }
}

.tooltip-container {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.tooltip-container2 {
    position: absolute;
    bottom: 15%;
    right: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.tooltip-one {
    padding: 12px;
    background: $color-dos;
    position: absolute;
    width: 192px;
    border-radius: 4px;
    text-align: center;
    display: none;
    bottom: 48px;
    right: 20%;
    margin-right: -153px;

    span {
        color: #fff;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        line-height: 20px;
    }
}

.tooltip-one:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 15%;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    background: $color-dos;
    transform: rotate(45deg);
}

.tooltip-trigger:hover+.tooltip-one {
    display: block;
}

.header_principal-titulo {
    position: absolute;
    top: 32%;
    color: $color-cuatro;
    text-align: center;
}

.header-titulo h1 {
    font-size: 9rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-descripcion p {
    width: 60rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    color: #FAFAFA;
    line-height: 160%;
    margin: 2.7rem 0;
    opacity: 0.8;
}

.header-boton {
    a {
        text-decoration: none;
        background-color: $color-uno;
        color: $color-cuatro;
        border-radius: .7rem;
        padding: 10px 20px;
        width: 16.4rem;
        height: 4.4rem;
        font-weight: 500;
        font-size: 2rem;
        transition: .3s;

        &:hover {
            background: #C25A05;
        }
    }
}

@media (max-width: 1135px) {
    .tooltip-container {
        left: 5%;
    }
}

@media (max-width: 985px) {

    .tooltip-container,
    .tooltip-container2 {
        display: none;
    }
}

@media (max-width: 880px) {
    .header-titulo h1 {
        font-size: 7rem;
    }
}

@media (max-width: 680px) {
    .header-titulo h1 {
        font-size: 6rem;
    }
}

@media (max-width: 680px) {
    .header-titulo h1 {
        font-size: 5rem;
    }

    .header-descripcion p {
        font-size: 2rem;
    }
}

@media (max-width: 580px) {
    .header-titulo h1 {
        font-size: 3.6rem;
    }

    .header-descripcion {
        p {
            width: auto;
        }
    }
}

@media (max-width: 465px) {
    .header_contact {
        width: 95%;
    }
}

@media (max-width: 385px) {
    .list-contacto-item a {
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    .list-contacto-item a {
        font-size: .9rem;
    }
}