header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_contact {
    background-color: $color-cuatro;
    height: 7vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        li a {
            text-decoration: none;
        }
    }
}

.header_list-contacto {

    a,
    i {
        color: $color-tres;
    }
}

.list-contacto-item {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-left: .7rem;
        font-size: 1.2rem;
    }
}

.header_list-redes li a i {
    color: $color-uno;
}

/* /////////////// */
.header_principal {
    background-image: url(../assets/header/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 93vh;
    width: 100%;
}

.header_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    nav {
        width: 85%;
        height: 7rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

.navbar_logo,
.navbar_pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo {
    h2 {
        color: $color-cuatro;
        margin-left: .7rem;
        font-size: 2rem;
        font-weight: 500;
    }
}

.navbar_pages {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        li a {
            text-decoration: none;
            color: $color-cuatro;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}

.navbar_pages-cotizar {
    padding: 1rem;
    gap: 1rem;
    width: 12.6rem;
    height: 3.9rem;
    background: $color-uno;
    border-radius: .5rem;
    text-align: center;

    a {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.header_principal-titulo {
    position: absolute;
    top: 22.2rem;
    color: $color-cuatro;
    text-align: center;
}

.header-titulo {
    font-size: 9rem;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-descripcion {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    font-style: normal;
    width: 60rem;
    margin: 1.7rem 1.8rem;
    opacity: 0.8;
    line-height: 160%;
}

.header-boton {
    a {
        text-decoration: none;
        background-color: $color-uno;
        color: $color-cuatro;
        border-radius: .7rem;
        padding: 10px 20px;
        width: 16.4rem;
        height: 4.4rem;
        font-weight: 500;
        font-size: 2rem;
    }
}