header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_contact {
    background-color: $color-cuatro;
    height: 7vh;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        li a {
            text-decoration: none;
        }
    }
}

.header_list-contacto {

    a,
    i {
        color: $color-tres;
    }
}

.list-contacto-item {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-left: .7rem;
        font-size: 1.2rem;
    }
}

.header_list-redes li a i {
    color: $color-uno;
}

/* /////////////// */
.header_principal {
    background-image: url("../assets/Home -final/Header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 93vh;
    width: 100%;
}

.header_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    nav {
        width: 85%;
        height: 7rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

.navbar_pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .7rem;

    h2 {
        margin-bottom: 0;
        color: $color-cuatro;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

.navbar_pages {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        li a {
            text-decoration: none;
            color: $color-cuatro;
            font-size: 1.6rem;
            font-weight: 400;
            transition: .3s;

            &:hover {
                color: $color-uno;
            }
        }
    }
}

.navbar_pages-servicios {
    position: relative;
    select {
        width: 120px;
        font-size: 1.5rem;
        color: $color-cuatro;
        padding: 1rem 3rem 1rem 1.2rem;
        border: none;
        outline: none;
        background-color: transparent;
        appearance: none;
    }
    option {
        color: $color-dos;
        font-size: 1.5rem;
        padding: 2rem;
        outline: none;
        border: none;
        option:hover {
            background: #C25A05;
        }
    }
    img {
        position: absolute;
        display: block;
        left: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}

.navbar_pages-contactanos {
    padding: 1rem;
    gap: 1rem;
    width: 12.6rem;
    height: 3.9rem;
    background: $color-uno;
    border-radius: .5rem;
    text-align: center;
    transition: .3s; 

    a {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;               
    }

    &:hover {
        color: $color-cuatro;            
        background-color: #C25A05;
    }
}

.header_principal-titulo {
    position: relative;
    bottom: 22%;
    color: $color-cuatro;
    text-align: center;
}

.header-titulo h1 {
    font-size: 9rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-descripcion p {
    width: 60rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    color: #FAFAFA;
    line-height: 160%;
    margin: 1.7rem 0;
    opacity: 0.8;
}

.header-boton {
    a {
        text-decoration: none;
        background-color: $color-uno;
        color: $color-cuatro;
        border-radius: .7rem;
        padding: 10px 20px;
        width: 16.4rem;
        height: 4.4rem;
        font-weight: 500;
        font-size: 2rem;
        transition: .3s;

        &:hover {
            background: #C25A05;
        }
    }
}