/* Footer */

.footer {
    background-color: $color-dos;
    padding: 10px;
    right: 10rem;
} 

.footer_contenedor {
    position: relative;
    left: 4vw;

    div div {
        margin-top: 6rem;
    }

    div h5 {
        color: $color-uno;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    div ul li {
        padding-bottom: 20px;
    }

    div ul li a {
        color: $color-cuatro;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9rem;
        padding: 0;
    }
}

.fuente_color1 {
    color: $color-cuatro;
}

.fuente_color2 {
    color: $color-uno;
}