#quienes_somos {
    display: flex;    
    justify-content: center;
}

.quienes_somos-contain {
    width: 85%;
    margin: 4.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quienes_somos-descripcion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4rem;
        color: $color-uno;
    }

    p {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $color-dos;
        width: 80%;
    }
}

.quienes_somos-boton {
    a {
        text-decoration: none;
        color: $color-cuatro;
        padding: 1rem 4.3rem;
        background: $color-uno;
        border-radius: .7rem;

        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}