.contacto_bg {
    background-image: url("../assets/Contacto -final/HeroPhoto_Contacto.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 173.52vh;
    width: 100%;
    nav {
        position: fixed;
        width: 100%;
        height: 7rem;
        background: radial-gradient(125% 125% at 50% -25%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 999;
    }
}

.header_contacto-titulo {
    position: absolute;
    top: 22.2rem;
    color: $color-cuatro;
    text-align: left;
    margin-left: 7.9rem;
}

.header_contacto-descripcion p {
    width: 60rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: left;
    color: #fff;
    line-height: 3.14rem;
    margin: 1.7rem;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form_section {
    display: flex;
}

.title_hidden {
    display: none;
    font-size: 2.5rem;
    font-weight: 400;
    color: #969696;
    margin-left: 2rem;
}

form {
    background-color: $color-cuatro;
    background-color: #F9F9F9;
    margin-top: 7.4rem;
    .form_container {
        width: 56.5vw;
        height: 52.5rem;
        font-size: 20px;
        div div input {
            font-size: 1.4rem;
            width: 29.5rem;
            height: 4rem;
            border: 1px solid #DCDCE4;
            border-radius: 4px;
        }
        div textarea {
            width: 62.2rem;
            height: 13.6rem;
            font-size: 1.4rem;
            border: 1px solid #DCDCE4;
            border-radius: 4px;
        }
        #enviar {
            width: 16.4rem;
            height: 4.4rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.4rem;
            border-radius: 7px;
            color: $color-cuatro;
            background-color: $color-dos;
        }
    }
}

.input_flex {
    display: flex;
}

label {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-dos;
    display: block;
}

.nombre_container {
    margin: 5.7rem 3.1rem 0 6.4rem;
    text-align: left;
}

.telefono_container {
    margin-top: 5.7rem;
    text-align: left;
}

.email_container {
    margin: 3rem 3.1rem 0 6.4rem;
    text-align: left;
}

.textarea_container {
    margin-top: 3rem;
    margin-left: 6.4rem;
    text-align: left;
}

.enviar_container {
    margin-top: 3rem;
    margin-left: 6.4rem;
    text-align: left;
}

/* Input Select */
.interes_container {
    position: relative;
    margin-top: 3rem;
    width: 29.5rem;
    text-align: left;
    .select_btn {
        height: 4rem;
        font-size: 2.2rem;
        display: flex;
        padding: 0 20px;
        background: #fff;
        border: 1px solid #DCDCE4;
        border-radius: 4px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        span {
            color: $color-tres;
            font-size: 1.4rem;
        }
        img {
            transition: transform 0.3s linear;
        }
    }
    .select_contenido {
        position: absolute;
        display: none;
        background: #fff;
        margin-top: 0.6rem;
        padding: 8px 16px;
        border-radius: 4px;
        border: 0.5px solid #EAEAEF;
        box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
        .select_opciones {
            margin-top: 1rem;
            li {
                height: 3.6rem;
                border-radius: 5px;
                font-size: 1.4rem;
                padding: 0 13px;
                color: black;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            li:hover {
                background: $color-uno;
                color: #F9F9F9;
            }
        }
    }
}

.interes_container.active .select_contenido {
    display: block;
}

.interes_container.active .select_btn img {
    transform: rotate(-180deg);
}

.resultado_correcto {
    text-align: left;
    margin-top: 1.3rem;
    p {
        color: $color-cinco;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.resultado_error {
    margin-top: 1.3rem;
    p {
        color: $color-seis;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.esconder_input {
    display: none;
}

.inputs_error  {
    position: absolute;
    margin-top: 0.3rem;
    p {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-seis;
    }
} 

#textarea_error p {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-seis;
}

/* Informacion Contacto */
.info_contacto {
    width: 31.57vw;
    height: 52.5rem;
    margin-top: 7.4rem;
    background-color: $color-uno;
    h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.64rem;
        color: #F9F9F9;
        margin: 144.42px 73px 0 76px;
    }
    div div {
        margin-top: 3rem;
        margin-left: 7.6rem;
    }
    img {
        margin-right: 16.62px;
        width: 15.38px;
        height: 21.03px;
    }
    p {
        font-size: 1.6rem; 
        font-weight: 400;
        line-height: 2.11rem; 
        text-align: left;
        width: 30rem;
    }
}

/* Media Queries */

@media (max-width: 1256px) {
    form .form_container {
        div div input {
            width: 27rem;
        }
        div textarea {
            width: 57rem;
        }
    }
    .interes_container {
        width: 27rem;
    }
}

@media (max-width: 1168px) {
    form .form_container {
        div div input {
            width: 24rem;
        }
        div textarea {
            width: 51rem;
        }
    }
    .interes_container {
        width: 24rem;
    }
}

@media (max-width: 1044px) {
    form .form_container {
        div div input {
            width: 21rem;
        }
        div textarea {
            width: 45rem;
        }
    }
    .interes_container {
        width: 21rem;
    }
    .contacto_bg {
        /* height: 180vh; */
        height: 112.5rem;
    }
}

@media (max-width: 951px) {
    .form_section {
        display: block;
        width: 100%;
    }
    .info_contacto {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        h1 {
            margin: 60px 73px 0 76px;
        }
        div  div {
            margin-top: 20px;
        }
    }
    .contacto_bg {
        /* height: 130vh; */
        height: 130rem;
    }
}

@media (max-width: 935px) {
    label {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .contacto_bg {
        /* height: 100vh; */
        height: 140rem;
    }
}

@media (max-width: 906px) {
    form .form_container {
        width: 75.5vw;
    }
    .contacto_bg {
        /* height: 140vh; */
        height: 150rem;
    }
}

@media (max-width: 780px) {
    .contacto_bg {
        /* height: 160vh; */
        height: 160rem;
    }
}

@media (max-width: 674px) {
    .title_hidden {
        display: block;
    }
    .header_contacto-titulo {
        margin-left: 0;
    }
    .input_flex {
        display: block;
    }
    .nombre_container {
        margin: 2rem 4.1rem 0 2rem;
    }
    .telefono_container {
        margin: 3rem 4.1rem 0 2rem;
    }
    .email_container {
        margin: 3rem 4.1rem 0 2rem;
    }
    .interes_container {
        margin: 3rem 4.1rem 0 2rem;
        width: 300px;
    }
    .textarea_container {
        margin: 3rem 4.1rem 0 2rem;
    }
    form {
        width: 100%;
        margin-top: 2rem;
        .form_container {
            height: 65rem;
        }
        .form_container div div input {
            width: 300px;
        }
        .form_container div textarea {
            width: 30rem;
        }
        .form_container #enviar {
            margin-left: 25%;
        }
    }
    label {
        font-size: 1.6rem;
    }
    .info_contacto {
        width: 100%;
        height: 30rem;
        margin-top: 6rem;
        h1 {
            font-size: 1.8rem;
        }
    }
    .contacto_bg {
        background-image: none;
        height: 140rem;
    }
    .header_contacto-titulo {
        top: 15.2rem;
    }
    .header_contacto-titulo .header-titulo h1 {
        font-size: 5rem;
        color: $color-uno;
        margin-left: 1rem;
    }
    .header_contacto-descripcion p {
            font-size: 2rem;
            color: $color-dos;
            width: 80%
    }
    .contacto_footer {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .separador-top {
        margin-top: 15rem!important;
    }
    .contacto_bg {
        height: 135rem;
    }
    .resultado_error {
        margin-left: -4rem;
    }
}

@media (max-width: 430px) {
    .separador-top {
        margin-top: 13rem!important;
    }
    .contacto_bg {
        height: 140rem;
    }
    .info_contacto div div {
        margin-left: 5.6rem;
    }
    .info_contacto h1 {
        margin-left: 5.6rem;
    }
}

@media (max-width: 410px) {
    .separador-top {
        margin-top: 15rem!important;
    }
    .contacto_bg {
        height: 140rem;
    }
    .info_contacto div div {
        margin-left: 4.6rem;
    }
    .info_contacto h1 {
        margin-left: 4.6rem;
    }
}

@media (max-width: 380px) {
    .separador-top {
        margin-top: 13rem!important;
    }
    .contacto_bg {
        height: 140rem;
    }
    .info_contacto div div {
        margin-left: 2.6rem;
    }
    .info_contacto h1 {
        margin-left: 3.6rem;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .separador-top {
        margin-top: 16rem!important;
    }
    .resultado_error {
        margin-top: 0.2rem;
    }
}

@media (max-width: 365px) {
    form .form_container #enviar {
        margin-left: 20%;
    }
}

@media (max-width: 330px) {
    .info_contacto p {
        width: 22rem;
    }
    form .form_container #enviar {
        margin-left: 10%;
    }
    form .form_container div div input {
        width: 25rem;
    }
    .interes_container {
        width: 25rem;
    }
    form .form_container div textarea {
        width: 28rem;
    }
}

@media (max-width: 300px) {
    .separador-top {
        margin-top: 26rem!important;
    }
    .info_contacto h1 {
        font-size: 1.4rem;
    }
    .resultado_error {
        margin-top: 0;
        margin-left: -6rem;
    }
}