/* Header Nosotros */

.header_nosotros {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/Nosotros -final/Header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 46.24vh;
    width: 100%;
}

.header_nosotros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    nav {
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
    }
}

#menu_hamburguesa {
    display: none;
}

.menu_responsive {
    display: flex;
    gap: 2rem;
    li a {
        text-decoration: none;
        color: $color-cuatro;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.boton_responsive {
    display: none;
}

.header_nosotros-titulo {
    position: absolute;
    top: 20%;
    color: $color-cuatro;
    text-align: center;
}

/* Main Nosotros */
.nosotros_main {
    display: flex;
    align-items: center;
    margin-top: 4.4rem;
    margin-bottom: 4.4rem;
}

.contenedor_parrafo {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    width: 570.32px;
    height: 235px; 
    padding: 10px;
    z-index: 998;
    p {
        font-size: 2rem;
        font-weight: 400;
        line-height: 26.4px;
        width: 494px;
        padding: 20px;
        margin-bottom: 30.5px 
    }
}

.nosotros_bg {
    z-index: 997;
    position: relative;
    margin-left: 40rem;
    width: 100%;
    img {
        width: 100%;
    }
}

.nosotros_section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/Nosotros -final/CTA.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 41rem;
    width: 100%;
}

.nosotros_card {
    align-items: center;
    width: 398px;
    gap: 25px;
    margin-top: 40px;
    margin-left: 20px;
    div {
        height: 123px;
        h5 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 24.2px;
            text-align: center;
            color: $color-uno;
        }
        p {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.78px;
            padding: 10px;
        }
    }
}

/* Media Queries */
@media (max-width: 1200px) {
    .contenedor_parrafo {
        width: 500px;
    }
}

@media (max-width: 991px) {
    .nosotros_bg {
        margin-left: 10rem;
    }
    .contenedor_parrafo {
        width: 450px;
        height: 270px;
        top: 75%
    }
    .nosotros_section {
        margin-top: 230px;
    }
}

@media (max-width: 835px) {
    .nosotros_card {
        margin-left: 0;
    }
}

@media (max-width: 790px) {
    .nosotros_section {
        height: 80rem;
    }
}

@media (max-width: 771px) {
    .header_contact {
        display: none;
    }
    .navbar_pages {
        display: none;
        width: 100%;
        background-color: #000000BD;
        margin-top: 1rem;
        span:hover {
            color: #fff;
        }
        ul {
            flex-direction: column;
            li a:hover {
                color:#fff;
            }
        }
    }
    .navbar_pages.show {
        display: flex;
    }
    .navbar_pages-contactanos {
        display: none;
    }
    .navbar_logo a h2 {
            font-size: 1.6rem;
            width: 2rem;
    }
    .navbar_on-scroll .navbar_pages {
        background-color: #fff;
    }
    .navbar_on-scroll .menu_responsive img {
        filter: brightness(0) saturate(100%);
    }
    #menu_hamburguesa {
        display: block;
    }
    .boton_responsive {
        display: block;
    }

    .navbar_select {
        position: static;
        width: inherit;
        .navbar_select-btn {
            justify-content: center;
        }
        .navbar_select-contenido {
            position: static;
            width: 350px;
        }
    }
}

@media (max-width: 767px) {
    .nosotros_bg {
        margin-left: 0;
    }
    .contenedor_parrafo {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 576px) {
    .contenedor_parrafo {
        width: 450px;
        height: 180px;
        p {
            font-size: 15px;
            line-height: 19.8px;
        }
    }
}

@media (max-width: 490px) {
    .contenedor_parrafo {
        width: 400px;
        height: 180px;
        top: 93%;
    }
    .header_nosotros-titulo {
        top: 20%;
        .header-titulo h1 {
            font-size: 3.6rem;
        }
    }
}

@media (max-width: 433px) {
    .contenedor_parrafo {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 433px) {
    .contenedor_parrafo {
        top: 89%;
    }
}

@media (max-width: 370px) {
    .contenedor_parrafo {
        top: 92%;
        width: 290px;
        padding: 0;
        p {
            font-size: 13px;
        }
    }
    .nosotros_section {
        margin-top: 200px;
    }
    .nosotros_section {
        height: 75rem;
    }
    .boton_responsive {
        width: 10rem;
    }
}

@media (max-width: 305px) {
    .nosotros_section {
        margin-top: 250px;
    }
}

