#elegirnos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 6.6rem;
}

.contenedor-elegirnos {
    width: 85%;
    text-align: center;
}

.elegirnos-titulo {
    margin-bottom: 2rem;

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.9rem;
        color: $color-uno;
    }
}

.elegirnos-cards{
    gap: 2rem;    
    justify-content: space-between;
}

.elegirnos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 0;
    gap: .5rem;
    background-color: #FFFFFF;

    width: 35rem;
    height: 30.1rem;

    div {
        height: 28%;

        img {
            /* margin-bottom: 3.5rem; */
        }

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #F78121;
            /* margin-bottom: 3.5rem; */
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-top: -2rem;
            margin: 0 2rem -2rem 2rem;

            /* Black */

            color: #1B1B1B;
        }
    }
}

@media (max-width: 1288px) {
    .elegirnos-cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1080px) {
    #elegirnos {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .elegirnos-cards {
        align-items: center;
    }
}
