.contactanos {
    background-image: url(../assets/contactanos/sillones.png);
    height: 35.5rem;
    width: 100%;
}

.contactanos_card {
    width: 35.7rem;
    height: 30rem;
    border-radius: 6px;
}

.contactanos_titulo {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 2.5rem;
    color: $color-uno;
}

.contactanos_parrafo {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    margin-top: 3.1rem;
    color: $color-dos;
}

.contactanos_boton {
    width: 16.4rem;
    font-size: 2rem;
    margin-top: 3.1rem;
    margin-bottom: 2.5rem;
    color: $color-cuatro;
    background-color: $color-uno;
    outline: none;
    border-radius: 6px;
    padding: 10px 20.5px 10px 20.5px;
}