.contactanos {
    background-image: url("../assets/Home -final/CTA.webp");    
    height: 35.5rem;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 65%;
}

.contactanos_card {
    width: 35.7rem;
    height: 30rem;
    border-radius: 6px;
}

.contactanos_titulo {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 2.5rem;
    color: $color-uno;
}

.contactanos_parrafo {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    margin-top: 3.1rem;
    color: $color-dos;
}

.contactanos_boton {
    width: 16.4rem;
    font-size: 2rem;
    margin-top: 3.1rem;
    margin-bottom: 2.5rem;
    color: $color-cuatro;
    background-color: $color-uno;
    outline: none;
    border-radius: 6px;
    padding: 10px 20.5px 10px 20.5px;
    transition: .3s;

    &:hover {
        background: #C25A05;
        color: #FFFFFF;
    }
}

.input_contacto {
    padding: 0 1rem;
}

.textarea_contacto {
    padding: .5rem 1rem;
}