/* Marmol */

.header_principal_marmol {
    background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.contactanos_marmol {
    background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/CTA.webp");
}

/* Enchapes en piedra*/

.header_principal_enchape {
    background-image: url("../assets/Servicios -final/Enchapes de Piedras/Hero Photo.webp");
}

.contactanos_enchape {
    background-image: url("../assets/Servicios -final/Enchapes de Piedras/CTA.webp");
}

/* Carpinteria */
.header_principal_carpinteria {
    background-image: url("../assets/Servicios -final/Carpintería/Hero Photo.webp");
}

.contactanos_carpinteria {
    background-image: url("../assets/Servicios -final/Carpintería/CTA.webp");
}

/* Obras civiles */
.header_principal_obras {
    background-image: url("../assets/Servicios -final/Obras Civiles/Hero Photo.webp");
}

.contactanos_obras {
    background-image: url("../assets/Servicios -final/Obras Civiles/CTA.webp");
}

/* Hornos y parrillas */
.header_principal_hornos {
    background-image: url("../assets/Servicios -final/Hornos y Parrillas/Hero Photo.webp");
}

.contactanos_hornos {
    background-image: url("../assets/Servicios -final/Hornos y Parrillas/CTA.webp");
}

/* Mantenimiento de pisos */
.header_principal_pisos {
    background-image: url("../assets/Servicios -final/Pisos/Hero Photo.webp");
}

.contactanos_pisos {
    background-image: url("../assets/Servicios -final/Pisos/CTA.webp");
}