.header_principal_marmol {
    background-image: url("../assets/Servicios -final/Marmol, Cuarzo y Granito/Hero Photo.webp");
}

.header_servicios_titulo {
    position: absolute;
    top: 20rem;
    left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}


.header_titulo_servicios {
    width: 71rem;

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 9rem;
        line-height: 9rem;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.header_descripcion_servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    width: 64.3rem;
    height: 17.3rem;
    background: #F78121;
    border-radius: .5rem;

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.1rem;
        opacity: 0.8;
        color: #FFFFFF;
    }
}

.servicios_galeria_titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
    color: #F78121;
    margin-top: 5rem;
}

.desliza-galeria-servicios {
    margin: 1.8rem 0;
    text-align: center;
    display: none;
    
    span {
        color: $color-uno;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 2.4rem;
    }
}

@media (max-width: 992px) {
    .header_servicios_titulo {
        top: 28.2rem;
        left: auto;
        text-align: center;
        align-items: center;        
    }

    .header_titulo_servicios {
        width: auto;
    }
}

@media (max-width: 700px) {
    .header_descripcion_servicios{
        width: 56rem;
    }
}

@media (max-width: 580px) {
    .header_titulo_servicios {
        h1 {
            font-size: 7rem;
        }
    }

    .header_descripcion_servicios{
        width: 50rem;
        height: 18.2rem;

        h2 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 576px) {
    .desliza-galeria-servicios {
        display: block;
    }
}

@media (max-width: 520px) {
    .header_titulo_servicios {
        h1 {
            font-size: 3.75rem;
            line-height: normal;
        }
    }

    .header_descripcion_servicios{
        width: 35rem;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    .header_servicios_titulo {
        gap: 1rem;
        top: 8.2rem;   
    }
    .header_titulo_servicios h1 {
        font-size: 5.5rem;
    }

    .header_descripcion_servicios{
        height: 13rem;

        h2 {
            font-size: 1.8rem;
        }
    }
}

/* TZ GALERY */

.col-galery {
    width: 25%;
}

@media (max-width: 992px) {
    .col-galery {
        width: 33.3333%;
    } 
}

@media (max-width: 768px) {
    .col-galery {
        width: 50%;
    } 
}

@media (max-width: 576px) {
    .col-galery {
        width: 100%;
    } 
}

@media (max-width: 576px) {
    .tz-gallery-general {
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }

    .tz-gallery-contain {
        width: 95%;
        flex-wrap: nowrap;  
    }

    .servicios_galeria_titulo {
        font-size: 3rem;
    }
}